.Action {
  position: relative;
  height: 2rem;
}

.Action .ui.buttons {
  transition: all 0.3s;
  display: block!important;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.Action .ui.buttons.hidden {
  opacity: 0;
  visibility: hidden;
}

