.OptionForm {
  position: relative;
  text-align: left;
}

.OptionForm .sortable-handle {
  cursor: grabbing;
}

.OptionForm .right.top.floated.icon.button {
  position: absolute;
  right: 0;
  top: 0;
}