.Quiz {
  margin: 0 auto 1rem auto;
  max-width: 1200px;
}

.Quiz .ui.segments {
  transition: all 0.3s;
}

.Quiz .Question {
  position: relative;
  z-index: 100;
}

.Quiz .edit {
  transition: all 0.3s;
  transform-origin: top center;
  background: #fffaf3!important;
}

.Quiz .edit.hidden {
  margin-top: -1rem!important;
  transform: scaleY(0);
  height: 0;
}

