.Quiz {
  margin: 0 auto;
  max-width: 1200px;
}

.ui.segments {
  transition: all 0.3s;
}

.Question {
  position: relative;
  z-index: 100;
}

.action {
  position: relative;
  height: 2rem;
}

.ui.buttons {
  transition: all 0.3s;
  display: block!important;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.ui.buttons.hidden {
  opacity: 0;
  visibility: hidden;
}

.edit {
  transition: all 0.3s;
  transform-origin: top center;
  background: #fffaf3!important;
}

.edit.visible {

}

.edit.hidden {
  margin-top: -1rem!important;
  transform: scaleY(0);
  height: 0;
}
