.Option {
  display: block!important;
}

.ui.basic.buttons .Option.ui.button.teal {
  background: #00b5ad!important;
  color: #fff!important;
  font-weight: bold;
}

.ui.basic.buttons .Option.ui.button.active {
  background: #333!important;
  color: #fff!important;
  font-weight: bold;
}
