.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
}

.App-body {
  margin: 0 auto;
  max-width: 1200px;
}

.App-body .toggleAppMode {
  transition: all 0.3s;
  transform-origin: top center;
}

.App-body .toggleAppMode.hidden {
  margin-top: -1rem!important;
  transform: scaleY(0);
  height: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ui.table tr td {
  word-break: break-all;
}

.code {
  padding: 0.1em 0.5em;
  background-color: rgba(0,100,200, 0.1);
  font-size: 0.8rem;
}
