#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#root .pushable {
  flex: 1;
}

.auth.ui.active.modal {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  margin: 5rem auto;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
}

.App-body {
  margin: 0 auto;
  max-width: 1200px;
}

.App-body .toggleAppMode {
  transition: all 0.3s;
  transform-origin: top center;
}

.App-body .toggleAppMode.hidden {
  margin-top: -1rem!important;
  transform: scaleY(0);
  height: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ui.table tr td {
  word-break: break-all;
}

.code {
  padding: 0.1em 0.5em;
  font-size: 0.8rem;
  background-color: rgba(0,0,0, 0.07);
  color: rgba(0,0,0,0.6);
}

a .code {
  background-color: rgba(0,100,200, 0.1);
  color: #4183c4;
}

.ui.header .sub.header {
  margin-top: 0.5em!important;
  line-height: inherit!important;
}

._formWrapper {
  margin: 0!important;
}

._formWrapper>.ui.segment {
  background: #fffaf3!important;
}

._formWrapper ._header {
  position: relative;
}
._formWrapper ._cors._header {
  padding-top: 1em;
}

._formWrapper ._header ._rightTopFloated {
  position: absolute!important;
  right: 0;
  top: 0;
}

._formWrapper .inline.field {
  margin: 0 0.5em!important;
}

._formWrapper .inline.field:first-child {
  margin-left: 1em!important;
}

._formWrapper .inline.field:last-child {
  margin-right: 1em!important;
}

.marginless {
  margin: 0!important;
}